/*#result {
    display: none;
  }*/

h1 {
  text-align: center;
}

.displayed {
  position: relative;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border-style: groove;
  border-width: 10px;
  border-color: 0 0 #FF0000;*/
}

body {
  text-align: center;
  border-style: groove;
  border-width: 60px;
  border-color: 0 0 #FF0000;
}
